.color {
  flex: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  height: 56px;
  width: 56px;
}

.color:hover {
  transform: scale(1.05);
}

.focus {
  border: 4px solid white;
  padding: 4px;
  border-radius: 50%;
}
